.myfthings {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

.head {
    text-align: center;
}

nav {
    background-color: blanchedalmond;
    padding: 10px 20px;
}

.nav1 {
    display: inline-flexbox;
    padding: 10px;
    margin: 2px;
    color: black;
    text-decoration: none;
    background-color: beige;
    border-radius: 10px;
}

.nav1:hover{
    background-color: skyblue;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.nav2 {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
}

.nav2:hover{
    background-color: skyblue;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.deskripsi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: burlywood;
}

.desk1 {
    text-align: center;
    margin: 0;
}

.pdesk {
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: justify;
    background-color: white;
}
